<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

        <meta name="description" content="Humanity, I am sick of you.  Yours truly, the Universe.  A game by Scripta Games, for Ludum Dare 38.">
        <meta name="keywords" content="pity-about-earth,ludum-dare,ld38">
        <meta property="og:type" content="game">
        <meta property="og:title" content="Pity About Earth... - a Scripta Game">
        <meta property="og:url" content="http://scripta.co/pityaboutearth/">
        <meta property="og:site_name" content="Scripta Games">
        <meta property="og:description" content="Humanity, I am sick of you.  Yours truly, the Universe.  A game by Scripta Games, for Ludum Dare 38.">
        <meta property="og:image" content="http://scripta.co/pityaboutearth/images/thumb-two-pane.jpg">
        <meta property="og:updated_time" content="2017-04-25T01:51:56.683Z">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="Pity About Earth... - a Scripta Game">
        <meta name="twitter:description" content="Humanity, I am sick of you.  Yours truly, the Universe.  A game by Scripta Games, for Ludum Dare 38.">
        <meta name="twitter:image" content="http://scripta.co/pityaboutearth/images/thumb-two-pane.jpg">

        <title></title>
    </head>
    <body></body>
</html>
